In [3]:
from bs4 import BeautifulSoup

In [115]:
ex_path = 'ex4p2.html'
table_class = 'gapfilltable'

In [116]:
with open(ex_path, encoding='utf-8') as f:
    soup = BeautifulSoup(f.read(), 'html.parser')

In [117]:
table_html = soup.find(class_=table_class)

In [118]:
print(table_html.prettify())

<table border="1" cellpadding="5px" cellspacing="0" class="gapfilltable">
 <thead align="center">
  <tr>
   <th colspan="8">
    Table of weights (kg) of toddlers fed various diets
   </th>
  </tr>
 </thead>
 <tbody align="center">
  <tr>
   <td>
    #
   </td>
   <td>
    <b>
     Everything
    </b>
   </td>
   <td>
    <b>
     Vegetarian
    </b>
   </td>
   <td>
    <b>
     Vegan
    </b>
   </td>
   <td>
    <b>
     Gluten-Free
    </b>
   </td>
  </tr>
  <tr>
   <td>
    1
   </td>
   <td>
    16.74
   </td>
   <td>
    15.98
   </td>
   <td>
    13.27
   </td>
   <td>
    15.46
   </td>
  </tr>
  <tr>
   <td>
    2
   </td>
   <td>
    16.85
   </td>
   <td>
    15.01
   </td>
   <td>
    13.87
   </td>
   <td>
    15.76
   </td>
  </tr>
  <tr>
   <td>
    3
   </td>
   <td>
    14.8
   </td>
   <td>
    15.34
   </td>
   <td>
    14.66
   </td>
   <td>
    17.14
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <td>
    17.17
   </td>
   <td>
    17.39
   </td>
   <td>
    14.36
   </td>
   <td>
    17.54
   </td>
  </tr>
  <tr>
   <td>
    5
   </td>
   <td>
    13.82
   </td>
   <td>
    16.52
   </td>
   <td>
    16.64
   </td>
   <td>
    18.23
   </td>
  </tr>
  <tr>
   <td>
    6
   </td>
   <td>
    14.9
   </td>
   <td>
    14.58
   </td>
   <td>
    14.06
   </td>
   <td>
    17.24
   </td>
  </tr>
  <tr>
   <td>
    7
   </td>
   <td>
    15.34
   </td>
   <td>
    14.47
   </td>
   <td>
    13.37
   </td>
   <td>
    15.06
   </td>
  </tr>
  <tr>
   <td>
    8
   </td>
   <td>
    17.39
   </td>
   <td>
    15.12
   </td>
   <td>
    14.16
   </td>
   <td>
    15.16
   </td>
  </tr>
  <tr>
   <td>
    9
   </td>
   <td>
    18.79
   </td>
   <td>
    16.31
   </td>
   <td>
    13.67
   </td>
   <td>
    16.45
   </td>
  </tr>
  <tr>
   <td>
    10
   </td>
   <td>
    18.14
   </td>
   <td>
    17.06
   </td>
   <td>
    16.44
   </td>
   <td>
    14.87
   </td>
  </tr>
  <tr>
   <td>
    11
   </td>
   <td>
    17.82
   </td>
   <td>
    17.28
   </td>
   <td>
    14.56
   </td>
   <td>
    17.44
   </td>
  </tr>
  <tr>
   <td>
    12
   </td>
   <td>
    18.04
   </td>
   <td>
    15.44
   </td>
   <td>
    13.57
   </td>
   <td>
    16.95
   </td>
  </tr>
  <tr>
   <td>
    13
   </td>
   <td>
    17.06
   </td>
   <td>
    16.2
   </td>
   <td>
   </td>
   <td>
    16.25
   </td>
  </tr>
  <tr>
   <td>
    14
   </td>
   <td>
    14.58
   </td>
   <td>
    15.89
   </td>
   <td>
   </td>
   <td>
    15.66
   </td>
  </tr>
  <tr>
   <td>
    15
   </td>
   <td>
    15.77
   </td>
   <td>
    13.93
   </td>
   <td>
   </td>
   <td>
    16.35
   </td>
  </tr>
  <tr>
   <td>
    16
   </td>
   <td>
    15.98
   </td>
   <td>
    15.66
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <td>
    17
   </td>
   <td>
    17.17
   </td>
   <td>
   </td>
   <td>
   </td>
   <td>
   </td>
  </tr>
  <tr>
   <th>
    Mean
   </th>
   <td>
    <span class="subquestion form-inline d-inline" id="yui_3_17_2_1_1577051239941_142">
     <label class="subq accesshide" for="q106588:11_sub5_answer">
      Answer
     </label>
     <input class="form-control mb-1" id="q106588:11_sub5_answer" name="q106588:11_sub5_answer" size="8" type="text"/>
    </span>
   </td>
   <td>
    <span class="subquestion form-inline d-inline" id="yui_3_17_2_1_1577051239941_144">
     <label class="subq accesshide" for="q106588:11_sub6_answer">
      Answer
     </label>
     <input class="form-control mb-1" id="q106588:11_sub6_answer" name="q106588:11_sub6_answer" size="8" type="text"/>
    </span>
   </td>
   <td>
    <span class="subquestion form-inline d-inline" id="yui_3_17_2_1_1577051239941_146">
     <label class="subq accesshide" for="q106588:11_sub7_answer">
      Answer
     </label>
     <input class="form-control mb-1" id="q106588:11_sub7_answer" name="q106588:11_sub7_answer" size="7" type="text"/>
    </span>
   </td>
   <td>
    <span class="subquestion form-inline d-inline" id="yui_3_17_2_1_1577051239941_148">
     <label class="subq accesshide" for="q106588:11_sub8_answer">
      Answer
     </label>
     <input class="form-control mb-1" id="q106588:11_sub8_answer" name="q106588:11_sub8_answer" size="7" type="text"/>
    </span>
   </td>
  </tr>
 </tbody>
</table>

In [119]:
data = []

In [120]:
for i, html_row in enumerate(table_html.find_all('tr')[2:]):  # we don't need the headers
    for j, html_cell in enumerate(html_row.find_all('td')[1:]):  # we don't need the number column
        if i == 0:
            data.append([])
        try:
            data[j].append(float(html_cell.text))
        except ValueError:
            print(f"can't convert row {i} cell {j} ({html_cell.text}) to float")

can't convert row 12 cell 2 () to float
can't convert row 13 cell 2 () to float
can't convert row 14 cell 2 () to float
can't convert row 15 cell 2 () to float
can't convert row 15 cell 3 () to float
can't convert row 16 cell 1 () to float
can't convert row 16 cell 2 () to float
can't convert row 16 cell 3 () to float
can't convert row 17 cell 0 (Answer) to float
can't convert row 17 cell 1 (Answer) to float
can't convert row 17 cell 2 (Answer) to float

In [121]:
data

[[16.74,
  16.85,
  14.8,
  17.17,
  13.82,
  14.9,
  15.34,
  17.39,
  18.79,
  18.14,
  17.82,
  18.04,
  17.06,
  14.58,
  15.77,
  15.98,
  17.17],
 [15.98,
  15.01,
  15.34,
  17.39,
  16.52,
  14.58,
  14.47,
  15.12,
  16.31,
  17.06,
  17.28,
  15.44,
  16.2,
  15.89,
  13.93,
  15.66],
 [13.27,
  13.87,
  14.66,
  14.36,
  16.64,
  14.06,
  13.37,
  14.16,
  13.67,
  16.44,
  14.56,
  13.57],
 [15.46,
  15.76,
  17.14,
  17.54,
  18.23,
  17.24,
  15.06,
  15.16,
  16.45,
  14.87,
  17.44,
  16.95,
  16.25,
  15.66,
  16.35]]

In [124]:
sizes = list(map(len, data))
sizes

[17, 16, 12, 15]

In [125]:
print(sum(sizes))

60

In [126]:
def mean(sample):
    return sum(sample) / len(sample)

In [127]:
means = list(map(mean, data))

In [128]:
print(means)

[16.491764705882353, 15.761249999999999, 14.385833333333332, 16.370666666666665]

In [129]:
from itertools import chain
flattened_data = [x for x in chain.from_iterable(data)]
overall_mean = mean(flattened_data)

In [130]:
overall_mean

15.845499999999996

In [131]:
def ss(sample):
    sample_mean = mean(sample)
    return sum((x - sample_mean) ** 2 for x in sample)

In [132]:
totalSS = ss(flattened_data)

In [133]:
totalSS

113.17928499999996

In [134]:
totalDF = len(flattened_data) - 1
totalDF

59

In [135]:
withSS = sum(map(ss, data))
withSS

76.26100705882352

In [136]:
withDF = len(flattened_data) - len(data)
withDF

56

In [137]:
betSS = totalSS - withSS
betSS

36.91827794117644

In [138]:
betDF = totalDF - withDF
betDF

3

In [139]:
betMS = betSS / betDF
betMS

12.306092647058813

In [140]:
withMS = withSS / withDF
withMS

1.3618036974789915

In [141]:
f_statistic = betMS / withMS
f_statistic

9.036612743701747

In [76]:
betDF, withDF

(2, 57)

In [84]:
def se(sample1, sample2, withMS):
    return (withMS / 2 * (1 / len(sample1) + 1 / len(sample2))) ** 0.5

In [87]:
def q_statistic(sample1, sample2, se):
    return abs(mean(sample1) - mean(sample2)) / se

In [89]:
se02 = se(data[0], data[2], withMS)
se02

0.12885982747140473

In [90]:
q02 = q_statistic(data[0], data[2], se02)
q02

5.537578643194889

In [91]:
se01 = se(data[0], data[1], withMS)
se01

0.13212675458227965

In [92]:
q01 = q_statistic(data[0], data[1], se02)
q01

4.576576375101335

In [93]:
coeffs = -1, 0.5, 0.5

In [94]:
def se_scheffe(coeffs, sizes, withMS):
    return (withMS * sum(ci ** 2 / ni for ci, ni in zip(coeffs, sizes))) ** 0.5

In [95]:
def s_statistic(coeffs, means, se):
    return abs(sum(ci * mui for ci, mui in zip(coeffs, means))) / se

In [96]:
def s_critical(k, f_critical):
    return ((k - 1) * f_critical) ** 0.5

In [111]:
se_s = se_scheffe(coeffs, sizes, withMS)
se_s

0.15980016585582302

In [112]:
s_st = s_statistic(coeffs, means, se_s)
s_st

4.077931533101729

In [113]:
f_critical_2_60 = 3.15

In [114]:
s_crit = s_critical(3, f_critical_2_60)
s_crit

2.5099800796022267

In [142]:
def se_dunnett(na, ncontrol, withMS):
    return (withMS * (1 / na + 1 / ncontrol)) ** 0.5

In [143]:
def q_dunnett(mua, mucontrol, se):
    return abs(mua - mucontrol) / se

In [145]:
se_d = se_dunnett(sizes[0], sizes[2], withMS)
se_d

0.43998834224134625